<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="hamburger-button">&#9776;</div>
            <ul class="navigation-menu">
                <li class="active">
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="./diets.html">Weight Loss Diets</a>
                </li>
                <li>
                    <a href="./recipes.html">Recipes</a>
                </li>
                <li>
                    <a href="./about.html">About us</a>
                </li>
                <li>
                    <a href="./contact.html">Contact us</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="banner banner-secondary">
        <div id="slogan">
            <h1>It is time to balance your life!</h1>
            <p class="descriptive-text">contact us at anytime.</p>
        </div>
    </section>
    <section id="mission">
        <div class="container">
            <h2>Our Mission</h2>
            <p>Look great, feel great—that's our mission and what we would like to help you with. Whether you want to trim away
                a few pounds from your middle, or you need a total body overhaul, we'll give you the tools you need to get
                the job done. We focus on simple, healthy, practical ways of controlling your weight—from smart low-carb
                meal plans, and effective fat-burning workouts to sneaky style tips that will make you look slimmer. Backed
                with the latest research and written with the usual dose of wit. Our weight loss service is the best diet
                tool since the scale.</p>
        </div>
    </section>
    <section class="team">
        <div class="person">
            <img src="../img/garyvee.jpg">
            <div class="container">
                <h2>Gary Vaynerchuk</h2>
                <p class="title">CEO &amp; Founder</p>
            </div>
        </div>
        <div class="person">
            <img src="../img/rock.jpg">
            <div class="container">
                <h2>Dwayne Johnson</h2>
                <p class="title">Personal Instructor</p>
            </div>
        </div>
        <div class="person">
            <img src="../img/tony.jpg">
            <div class="container">
                <h2>Tony Robbins</h2>
                <p class="title">Life Coach</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="footer-links">
                <ul class="footer-list">
                    <li>
                        <a href="./views/diets.html">Diet Plans |</a>
                    </li>
                    <li>
                        <a href="./views/contact.html">Contact us |</a>
                    </li>
                    <li>
                        <a href="#">Further Reading |</a>
                    </li>
                    <li>
                        <a href="#">Partners</a>
                    </li>
                </ul>
            </div>
            <div class="rights">
                <p>© All rights reserved to ealektc </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="../js/responsive-menu.js"></script>
    <script src="../js/api-diets.js"></script>
</body>

</html>